<h1 class="doc_title">Introduction to Bootstrap</h1>

<h3>Goal</h3>

<p>This curriculum provides an introduction to the front-end framework Bootstrap.&nbsp;&nbsp;In the lesson plans ahead, the following topics will be covered:</p>

<ul>
	<li>Styling HTML elements with classes</li>
	<li>Building layouts with the grid system</li>
	<li>Creating a webpage from mockup</li>
</ul>

<p>By the end of this course, you will have a solid foundation in the Bootstrap framework and be comfortable creating layouts with the grid system.</p>

<figure class="textCenter">
	<img class="pointer" alt="compare-buttons" src="img/screenshots/compare-btn.jpg" data-img-click />
	<img class="pointer" alt="compare-tables" src="img/screenshots/compare-table.jpg" data-img-click />
	<figcaption>With just a few Bootstrap classes, you can quickly style HTML elements</figcaption>
</figure>

<h3>Schedule</h3>

<ul>
	<li>30 minutes to set up Bootstrap and to get familiar with the basics</li>
	<li>90 minutes of the grid system, styling HTML elements, and making tables/lists/forms</li>
	<li>1 hour to build a web page</li>
</ul>

<p>Of course, the schedule above is just a guideline.  Please feel free to learn at your own pace.</p>

<h3>Requirements</h3>

<p>You will need the following for this curriculum:</p>
<ul>
	<li>Completion of the Front-End Workshop</li>
	<li>Web browser:  Any web browser will work as long as you are comfortable with the developer tools.&nbsp;&nbsp;Having said that, we recommend using <a target="_blank" href="https://www.google.com/chrome/browser/">Google Chrome.</a></li>
	<li>Text Editor: Again, any text editor should be fine but one with syntax highlighting is preferable.&nbsp;&nbsp;As for recommendations, GitHub's <a target="_blank" href="https://atom.io/">atom.io</a> for Windows/Mac, and <a target="_blank" href="http://www.geany.org/">Geany</a> for Linux.</li>
</ul>

<h3>Working Effectively and Efficiently</h3>

<p>We highly recommend you do the following:</p>

<ul>
	<li>Open your browser fresh or hide any windows you already have open.</li>
		<ul>
			<li>Bring up one window with two tabs</li>
			<li>One for this content</li>
			<li>One for interacting with your app</li>
		</ul>
	</li>
	<li>Open your text editor and <em>do not ever close it</em>. We're not quitters.</li>
	<li>Hide all extra applications. Turn off twitter, IM, and all other distractions.</li>
</ul>

<p>By minimizing the number of things you interact with, you reduce the amount of time spent switching between them and the context lost as you work through the lessons. Having 50 tabs open in your web browser gets confusing and wastes time.</p>

<h3>Next</h3>
<div class="step next_step">
	<p class="link">Go to <a ui-sref="home.gettingStarted" ng-click="changeState('home.gettingStarted')">Getting Started</a></p>
</div>
