<h1 class="doc_title">Getting Started</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Load Bootstrap onto your HTML file</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Practice styling with Bootstrap classes</p>
				</div>
			</li>			
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<h2>What is Bootstrap?</h2>
				<p>An open-sourced project originally developed by two employees at Twitter, Bootstrap has grown to become the most popular front-end framework used for responsive and mobile web applications.</p>
				
				<p>As of August 2014, it has over 70k stars and 26k forks on GitHub.</p>
			</div>
		</blockquote>		
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1>
<!--
					<input class="big_checkbox" id="big_checkbox_5129" name="big_checkbox_5129" type="checkbox" value="valuable" />
					<label for="big_checkbox_5129"></label>
-->					
					<span class="prefix">Step 1</span>
				</h1>
				<blockquote>
					<div class="message">
						<p>
							Create a project folder on your computer and call it <strong>"railsbridge-bootstrap-course"</strong>.  Now open your text editor and save a blank html file in this project.  You can call it <strong>"index.html"</strong>.  Fill out this HTML file with the basic skeleton code or just copy and paste the example template below:
						</p>
					</div>
					<pre class="CodeRay">&lt;!doctype html&gt;<br />&lt;html lang="en"&gt;<br />&nbsp;&nbsp;&lt;head&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta charset="utf-8"&gt;><br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;RailsBridge - Bootstrap Course&lt;/title&gt;<br />&nbsp;&nbsp;&lt;/head&gt;<br />&nbsp;&nbsp;&lt;body&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- content here --&gt;<br /><br />&nbsp;&nbsp;&lt;/body&gt;<br />&lt;/html&gt;
					</pre>
				</blockquote>
			</div>
			<a name="step2"></a>
			<div class="step">
				<h1><span class="prefix">Step 2</span></h1>
				<blockquote>
					<div class="message">
						<p>
							Now we need to load the Bootstrap framework onto your HTML file.  There are a few ways to do this but the easiest method is to link to the Bootstrap CDN by putting the code below inside the <code>&lt;head&gt;</code> tag:
						</p>
						<pre><br /><code>&lt;link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"&gt;</code><br /><br /></pre>
						<p>
							You can also download Bootstrap <a href="http://getbootstrap.com/getting-started/">here</a> so you have a local copy on your computer.  Unzip the files and save the "bootstrap.min.css" or "bootstrap.css" file into a CSS folder inside your project folder and link to that css file inside the <code>&lt;head&gt;</code> tag:
						</p>
						<pre><br /><code>&lt;link rel="stylesheet" href="css/bootstrap.min.css"&gt;</code><br /><br /></pre>						
					</div>
				</blockquote>
			</div>
		</blockquote>
	</section>
<!--	
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next section, let's get some practice using some Bootstrap classes.</p>
		<p>Go on to <a ui-sref="home.bootstrapBasics" ng-click="currentState = home.bootstrapBasics">Bootstrap Basics</a></p>
	</section>
-->
</div>
