<h1 class="doc_title">Forms & Buttons</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Styling buttons</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Styling inputs, textareas, and selects</p>
				</div>
			</li>			
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					In this lesson, we'll style HTML elements that are associated with forms.  Starting with buttons, we'll work our way through the different input tags, selects and textareas.  By the end of this lesson, you'll be able to create a submission form with Bootstrap style.
				</p>
			</div>
		</blockquote>
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						<p>
							Using Bootstrap buttons will require adding the class <code>btn</code>.&nbsp;&nbsp;From here, you can adjust the size of the buttons, change the color, and alter its active state.
						</p>
						<p>
							Bootstrap has four sizes of buttons:
						</p>
						<!--extra small, small, default, and large-->
						<ul class="inlineList textCenter">
							<li>
								<p>x-small</p>
								<button class="btn btn-xs btn-primary">click</button>
							</li><li>
								<p>small</p>
								<button class="btn btn-sm btn-primary">click</button>
							</li><li>
								<p>default</p>
								<button class="btn btn-primary">click</button>
							</li><li>
								<p>large</p>
								<button class="btn btn-lg btn-primary">click</button>
							</li>
						</ul>
							We can set the sizes by adding an additional class: <code>btn-xs, btn-sm, and btn-lg</code>.  The default size does not require any additional classes.
						<p>
							Buttons can also be stylized with contextual colors.  The prefix for buttons is <code>btn-</code>. 
						</p>
						<ul class="inlineList textCenter">
							<li>
								<button class="btn btn-default">default</button>
							</li><li>
								<button class="btn btn-primary">primary</button>
							</li><li>
								<button class="btn btn-success">success</button>
							</li><li>
								<button class="btn btn-info">info</button>
							</li><li>
								<button class="btn btn-warning">warning</button>
							</li><li>
								<button class="btn btn-danger">danger</buttonp>
							</li>
						</ul>
						<p>
							Buttons are displayed inline by default but we can make them block-level by adding <code>btn-block</code>.
						</p>
						<button class="btn btn-info btn-block">block level button</button>
						<p>
							We can make buttons active by adding the <code>active</code> class:
						</p>
						<button class="center block btn btn-primary active">active button</button>
						<p>
							Or disable the button by adding the attribute: <code>disabled="disabled"</code>:
						</p>						
						<button class="center block btn btn-success" disabled="disabled">disabled button</button>
						<p>
							In the input field below, style the example button:
						</p>
						<input type="text" class="center block textCenter" maxlength='40' ng-model="buttonChange" />
						<pre class="textCenter"><br /><code>&lt;button class='{{buttonChange}}'&gt;click&lt;/button&gt;</code><br /><br /></pre>
						<button class="center block {{buttonChange}}">click</button>
					</div>
				</blockquote>				
			</div>
		</blockquote>
	
	</section>
	<section class="step next_step">
		
	</section>
</div>
