<h1 class="doc_title">Forms & Buttons</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Styling buttons</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Styling inputs, textareas, and selects</p>
				</div>
			</li>			
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					In this lesson, we'll style HTML elements that are associated with forms.  Starting with buttons, we'll work our way through the different input tags, selects and textareas.  By the end of this lesson, you'll be able to create a submission form with Bootstrap style.
				</p>
			</div>
		</blockquote>
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						<p>
							Buttons, much like paragraphs, can also be stylized with contextual colors.  There is one difference however, in that for the grey color, you have to use 'default' instead of muted.  All the other keywords will work.  The prefix for buttons is "btn-". 
						</p>
					</div>
				</blockquote>				
			</div>
		</blockquote>
	
	</section>
	<section class="step next_step">
		
	</section>
</div>
