<h1 class="doc_title">Grid System</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Containers, rows, and columns of the grid system</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Column offsets and ordering</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					This lesson will cover one of Bootstrap's most powerful features, the grid system.  First we will cover the container and then move onto page layout with rows.  From there, we'll breakdown the 12-column grid system and how to center, offset or re-order the columns.  
				</p>
			</div>
		</blockquote>				
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						<p>testing testers</p>
					</div>
				</blockquote>
			</div>
		</blockquote>		
	</section>
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next section, we will recreate a webpage from a mockup.</p>
		<p class="link">Go to <a ui-sref="home.createWebpage" ng-click="changeState('home.createWebpage')">Create Webpage</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.gridSystem" ng-click="changeState('home.gridSystem')">Tables</a></p>
	</div>
</div>
