<h1 class="doc_title">Grid System</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Containers, rows, and columns of the grid system</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Column offsets and ordering</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					This lesson will cover one of Bootstrap's most powerful features, the grid system.  First we will go over the container class and then move onto page layouts using rows and columns.  From there, we'll breakdown the 12-column grid system and how to center, offset or re-order the columns.
				</p>
			</div>
		</blockquote>				
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						<p>Bootstrap offers two types of container classes: <code>container</code> for centered fixed-width content, or <code>container-fluid</code> for full-width content.&nbsp;&nbsp;Look at the two images below for comparison.&nbsp;&nbsp;The red area is where your content would appear.
						</p>
						<figure class="text-center">
							<img class="pointer" alt="compare-buttons" src="img/screenshots/container-example.png" data-img-click /	>
							<img class="pointer" alt="compare-tables" src="img/screenshots/container-fluid-example.png" data-img-click />
							<figurecaption>In both examples, the container has been applied to the <code>body</code> HTML tag.</figurecaption>
						</figure>
						<p>
							If you set an HTML element with class <code>container</code>, all the nested content inside will be confined to the horizontal boundaries set by the container.
						</p>
						<h3>Rows and Columns</h3>
						<p>
							Page layout is handled by defining an HTML element (usually a <code>div</code> but can also use <code>section</code>, <code>article</code>, <code>aside</code>, etc...) of class <code>row</code> and nesting a column(s) underneath as a direct child(ren).
						</p>
						<pre><br>&lt;div class="row"&gt;<br>&nbsp;&nbsp;<em>column</em><br>&nbsp;&nbsp;<em>column</em><br>&nbsp;&nbsp;<em>column</em><br>&lt;/div&gt;<br><br><em>NOTE: not actually how to write columns, just placeholder text</em><br><br></pre>
						<p>
							Columns are created based on the concept that there are 12 units across the horizontal space in a <code>row</code> and any one column can have a width between 1 and 12 units.&nbsp;&nbsp;If there are multiple columns in a row, any column that exceeds the maximum 12 allowable units will wrap onto the next line.<br><br>To create a column, we define an HTML tag with a class of <code>col-XX-Y</code> where XX is the screen size and Y is the number of units for the width of the column (1 to 12).<br><br>Here is the breakdown for the different screen sizes Bootstrap uses:
						</p>
						<table class="center table">
							<thead>
								<tr>
									<th>Screen Size</th>
									<th>Code to write</th>
									<th>Screen Width</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Extra Small</td>
									<td>xs</td>
									<td>less than 768px</td>
								</tr>
								<tr>
									<td>Small</td>
									<td>sm</td>
									<td>768px and up</td>
								</tr>
								<tr>
									<td>Medium</td>
									<td>md</td>
									<td>992px and up</td>
								</tr>
								<tr>
									<td>Large</td>
									<td>lg</td>
									<td>1200px and up</td>
								</tr>										
							</tbody>
						</table>
						<p>
							Now let's take a look at some examples:<br>
							(The following columns have been styled with a <code>background-color</code> color and <code>height: 300px</code> to see the column dimensions better.&nbsp;&nbsp;Also, <code>container</code> is in use)
						</p>
						<pre><em>One column that spans the entire width</em><br><br><br>&lt;section class="row"&gt;<br>&nbsp;&nbsp;&lt;div class="col-md-12"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- column content here--&gt;<br>&nbsp;&nbsp;&lt;/div&gt;<br>&lt;/section&gt;<br><br></pre>
						<pre><em>Three columns of equal width</em><br><br><br>&lt;section class="row"&gt;<br>&nbsp;&nbsp;&lt;div class="col-md-4"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- first column content here--&gt;<br>&nbsp;&nbsp;&lt;/div&gt;<br>&nbsp;&nbsp;&lt;div class="col-md-4"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- second column content here--&gt;<br>&nbsp;&nbsp;&lt;/div&gt;<br>&nbsp;&nbsp;&lt;div class="col-md-4"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- third column content here--&gt;<br>&nbsp;&nbsp;&lt;/div&gt;<br>&lt;/section&gt;<br><br></pre>
					</div>
				</blockquote>
			</div>
		</blockquote>		
	</section>
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next section, we will recreate a webpage from a mockup.</p>
		<p class="link">Go to <a ui-sref="home.createWebpage" ng-click="changeState('home.createWebpage')">Create Webpage</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.tables" ng-click="changeState('home.tables')">Tables</a></p>
	</div>
</div>
