<h1 class="doc_title">Create Webpage</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Analyze mockup</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Style the general layout of the webpage</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					In this lesson, we will create a webpage using Bootstrap classes.  Use the following mockup as a guideline:
				</p>
				<figure class="text-center">
					<img class="pointer" alt="compare-buttons" src="img/screenshots/sf-page.png" data-img-click /	>
				</figure>				
				<p>
					Here are some hints to help the development process:
				</p>
				<ul>
					<li>Before you start writing code, take some time to analyze and breakdown the mockup</li>
					<li>Using HTML5 semantic markup, determine where you would use <code>header, main, section, article</code>, etc...</li>
					<li>From there, organize the content by Bootstrap rows and columns</li>
					<li>Once you have the page layout down, write out the HTML content</li>
					<li>Don't spend too much time on CSS styling unil after the HTMl content has been written</li>
				</ul>
			</div>
		</blockquote>				
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						test test
					</div>
				</blockquote>
			</div>
		</blockquote>
	</section>





<!--
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next section, we will fill in the header content.</p>
		<p class="link">Go to <a ui-sref="home.headerContent" ng-click="changeState('home.headerContent')">Header Content</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.gridSystem" ng-click="changeState('home.gridSystem')">Tables</a></p>
	</div>
-->
</div>
