<h1 class="doc_title">Create Webpage</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Analyze mockup</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Create a webpage from mockup</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					The last task will be to re-create a mockup as a website using Bootstrap classes.&nbsp;&nbsp;You will need the skills you learned from the Front-End Curriculum along with the knowledge you have attained from the previous pages.<br><br>Use the following mockup as a guideline:
				</p>
				<article class="resources text-center">
					<a class="inlineBlock" target="_blank" href="img/screenshots/webpage.png">
						<img class="pointer" alt="mockup" src="img/screenshots/webpage.png">
					</a><div class="inlineBlock">
						<p>Here are links to the images of San Francisco</p>
						<ul class="text-left">
							<li><a target="_blank" href="img/sf/bay-bridge.jpg">bay bridge</a></li>
							<li><a target="_blank" href="img/sf/palace-of-fine-arts.jpg">palace of fine arts</a></li>
							<li><a target="_blank" href="img/sf/legion-of-honor.jpg">legion-of-honor</a></li>
						</ul>
					</div>					
				</article>
				<br>
				<p>
					Here are some hints to help the development process:
				</p>
				<ul>
					<li>Before you start writing code, take some time to analyze and breakdown the mockup</li>
					<li>Using HTML5 semantic markup, determine where you would use <code>header, main, section, article</code>, etc...</li>
					<li>Keeping the grid system in mind, organize the content by rows and columns</li>
					<li>Once you have the page layout down, write out the HTML content</li>
					<li>Don't spend too much time on CSS styling until after the HTMl content has been written</li>
					<li>After the major elements are in place, then start tinkering with styling</li>
				</ul>

				<p>
					The following pages will give a step-by-step tutorial on creating the website.&nbsp;&nbsp;However, I encourage you to try and create the website on your own first and if you get stuck, then refer back to this lesson plan for help.<br><br>Good luck and take your time.&nbsp;&nbsp;You can also try some pair programming and work on this collaboratively with another student.&nbsp;&nbsp;If you get stuck, try researching the answer online first before you ask a TA/teacher for help.<br><br>A working example of the mockup can be viewed <a target="_blank" href="webpage.html">here</a>.
				</p>
			</div>
		</blockquote>				
	</section>
<!--	
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						test test
					</div>
				</blockquote>
			</div>
		</blockquote>
	</section>
-->
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>The next section will have links to helpful websites for web development.</p>
		<p class="link">Go to <a ui-sref="home.resources" ng-click="changeState('home.resources')">Resources</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.gridSystem" ng-click="changeState('home.gridSystem')">Grid System</a></p>
	</div>
</div>
