<h1 class="doc_title">Style Webpage</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Analyze mockup</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Style the general layout of the webpage</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					In this lesson, we will style the example html page using Bootstrap classes.  We want to achieve the webpage below:
				</p>
				<figure class="text-center">
					<img class="pointer" alt="compare-buttons" src="img/screenshots/sf-page.png" data-img-click /	>
				</figure>				
				<p>
					Before we start writing code, we will determine the general page layout and then proceed to style the major sections one by one.
				</p>
			</div>
		</blockquote>				
	</section>
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						test test
					</div>
				</blockquote>
			</div>
		</blockquote>
	</section>





<!--
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next section, we will fill in the header content.</p>
		<p class="link">Go to <a ui-sref="home.headerContent" ng-click="changeState('home.headerContent')">Header Content</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.gridSystem" ng-click="changeState('home.gridSystem')">Tables</a></p>
	</div>
-->
</div>
