<h1 class="doc_title">Basic Layout</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Identify general areas of website</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Write skeleton HTML code</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				
			</div>
			
		</blockquote>
	</section>
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next step, we will write the code for the header.</p>
		<p class="link">Go to <a ui-sref="home.headerContent" ng-click="changeState('home.headerContent')">Header Content</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.basicLayout" ng-click="changeState('home.basicLayout')">Basic Layout</a></p>
	</div>	
</div>
