<h1 class="doc_title">Header Content</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Write content for header</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Add Bootstrap classes for layout</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Style CSS properties to resemble mockup</p>
				</div>
			</li>			
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					Write all the header content first before worrying about the CSS stylings.  Then proceed to add Bootstrap layout classes so the elements are displayed in the right position.  Once those are set, add any additional CSS styles to get the right look.
				</p>	
			</div>
		</blockquote>
	</section>	
	<section class="steps">
		<h1>Steps</h1>
		<blockquote>
			<a name="step1"></a>
			<div class="step">
				<h1><span class="prefix">Step 1</span></h1>
				<blockquote>
					<div class="message">
						<p>
							
						</p>
					</div>
				</blockquote>
			</div>
		</blockquote>
	</section>
</div>
