<h1 class="doc_title">Main Content</h1>

<div class="doc">
	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Write the HTML code and add Bootstrap classes for columns</p>
					
				</div>
			</li>
			<li>
				<div class="message">
					<p>Write the HTML tags for the text</p>
				</div>
			</li>
			<li>
				<div class="message">
					<p>Style the CSS properties to resemble mockup</p>
				</div>
			</li>			
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
				</p>
			</div>
		</blockquote>
	</section>	
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>In the next step, we will write the code for the form & footer.</p>
		<p class="link">Go to <a ui-sref="home.formAndFooter" ng-click="changeState('home.formAndFooter')">Form & Footer</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.headerContent" ng-click="changeState('home.headerContent')">Header Content</a></p>
	</div>	
</div>
