<h1 class="doc_title">Form & Footer</h1>

<div class="doc">

	<section class="goals">
		<h1>Goals</h1>
		<ul>
			<li>
				<div class="message">
					<p>Finish up the remain main content</p>
					
				</div>
			</li>
			<li>
				<div class="message">
					<p>Write the code and style the footer</p>
				</div>
			</li>		
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
				</p>
			</div>
		</blockquote>
	</section>		
	<section class="step next_step">
		<h1>Next Step:</h1>
		<p>The last page will have links to useful resources.</p>
		<p class="link">Go to <a ui-sref="home.resources" ng-click="changeState('home.resources')">Resources</a></p>
	</section>
	<div class="back">
		Back to <a class="back" ui-sref="home.mainContent" ng-click="changeState('home.mainContent')">Main Content</a></p>
	</div>	
</div>
