<h1 class="doc_title">Resources</h1>

<div class="doc">
	<h3>Congratulations!</h3>

	<blockquote>
		<p>
			Job well done on completing the Introduction to Bootstrap curriculum but you shouldn't stop here.&nbsp;&nbsp;There are many more features that Bootstrap has to offer.&nbsp;&nbsp;We encourage you to research and improve your skillset even more with the following resources.
		</p>
	</blockquote>

	<h3>Helpful Resources</h3>

	<ul>
		<li>
			The official <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a> homepage has a very thorough documentation.
		</li><li>
			<a href="https://developer.mozilla.org">Mozilla Developer Network</a> is probably the largest, most comprehensive source of front end documentation.
		</li><li>
			<a href="http://dochub.io/">DocHub</a> is another comprehensive resource.
		</li><li>
			<a href="http://www.alistapart.com/">A List Apart</a> is an online magazine with great content on front end best practices.
		</li><li>
			<a href="http://www.smashingmagazine.com/">Smashing Magazine</a> is oriented toward web designers, but they frequently have good, short how-to articles on CSS and JavaScript coding.
		</li><li>
			<a href="http://www.html5rocks.com/">HTML5 Rocks</a> is a great site for keeping up on the latest advancements in front end techniques and technology.
		</li>
	</ul>

	<div class="doc">
		<div class="back">
			Back to <a class="back" ui-sref="home.formAndFooter" ng-click="changeState('home.formAndFooter')">Form & Footer</a></p>
		</div>	
	</div>
</div>
