<table class="{{class}}">
	<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Sport</th>
			<th>Colors</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Trail Blazers</td>
			<td>Portland</td>
			<td>Basketball</td>
			<td>Red, Black, Silver & White</td>
		</tr>
		<tr>
			<td>Canucks</td>
			<td>Vancouver</td>
			<td>Hockey</td>
			<td>Blue, Green, Silver & White</td>
		</tr>			
		<tr>
			<td>Orioles</td>
			<td>Baltimore</td>
			<td>Baseball</td>
			<td>Black, Orange, & White</td>
		</tr>
		<tr>
			<td>Cowboys</td>
			<td>Dallas</td>
			<td>Football</td>
			<td>Navy, Silver, & White</td>
		</tr>																								
	</tbody>
</table>						
